/* ---------- HOVER - ACTIVE - FOCUS ---------- */
.desktopIcons:focus > i { color: var(--colorThree); }

.desktopIcons:focus > label { 
    text-shadow: 1px 1px 2px var(--colorThree);
    -webkit-text-stroke: 1px var(--colorThree);
}

.minimize:hover, .maximize:hover { background: radial-gradient(circle, rgba(150,0,255,1) 0%, rgba(201,0,225,1) 31%, rgba(255,0,193,1) 97%); }

.minimize:active, .maximize:active { background: radial-gradient(circle, rgba(255,0,193,1) 0%, rgba(201,0,225,1) 31%, rgba(150,0,255,1) 97%); }

.close:hover { background: radial-gradient(circle, rgba(73,0,255,1) 0%, rgba(35,96,255,1) 31%, rgba(0,184,255,1) 86%); }

.close:active { background: radial-gradient(circle, rgba(0,184,255,1) 0%, rgba(35,96,255,1) 31%, rgba(73,0,255,1) 86%); }

/* ---------- HOVER - ACTIVE - FOCUS ---------- */

:root {
    --colorOne: #ff00c1;
    --colorTwo: #9600ff;
    --colorThree: #4900ff;
    --colorFour: #00b8ff;
    --colorFive: #00fff9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background: url("../imgs/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Verdana, sans-serif;
}

main {
    width: 100%;
    height: 96%;
    display: flex;
}

aside {
    position: relative;
    width: 20%;
    height: 100%;
    display: grid;
    grid-template:
        "who" 7rem
        "projects" 7rem
        "team" 7rem
        "services" 7rem
        / 7rem
    ;
    grid-gap: 1rem;
}

.desktopIcons {
    display: flex;
    flex-direction: column;
}

.desktopIcons label, .desktopIcons i {
    width: 100%;
    height: 50%;
    text-align: center;
}

.desktopIcons label {
    font-size: 1.3rem;
    font-weight: lighter;
    text-overflow: ellipsis;
}

.desktopIcons i {
    align-content: end;
    font-size: 2.5rem;
}

#who { grid-area: who; }
#projects { grid-area: projects; }
#team { grid-area: team; }
#services { grid-area: services; }

article {
    width: 80%;
    height: 100%;
}

section {
    position: absolute;
    width: 55%;
    height: 70%;
    background-color: var(--colorOne);
    border: 2px solid var(--colorOne);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    z-index: 9;
}
  
#whoWindowHeader {
    height: 2rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template:
        "folderName actionBtns" 100%
        /50% 25%
    ;
    z-index: 10;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--colorOne);
    color: #fff;
}

.windowName {
    height: 100%;
    display: flex;
    grid-area: folderName;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.windowName i { width: 10%; }

.windowName label {
    width: 90%;
    height: 100%;
    text-align: start;
    align-content: center;
}

.actionBtns {
    width: 100%;
    height: 100%;
    list-style: none;
    grid-area: actionBtns;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actionBtns li {
    width: 30%;
    height: 90%;
    align-content: center;
    border: solid 1px #ffffff;
}

.close {
    border-top-right-radius: 1rem;
    background: radial-gradient(circle, rgba(73,0,255,1) 0%, rgba(0,184,255,1) 87%);
}

.optBar {
    width: 100%;
    height: 2rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template: 
        "dropdownMenu logo" 100%
        / 50% 10%
    ;
    background-color: #c2c2c2;
}

.dropdownMenu {
    grid-area: dropdownMenu;
    display: flex;
}

.logo {
    grid-area: logo;
}

footer {
    width: 100%;
    height: 4%;
    position: relative;
    background-color: var(--colorOne);
    box-shadow: var(--colorOne) 0px -3px 1px 0px;
    display: grid;
    grid-template: "start taskbar clock" 100% / 7% 1fr 6%;
}

.start {
    grid-area: start;
    align-content: center;
    list-style: none;
}

.start li {
    width: 95%;
    height: 99%;
    font-size: 1.4rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px #333;
    font-style: italic;
    background: var(--colorFour);
    box-shadow: var(--colorFour) 0px -3px 1px 0px;
    border-radius: 0px 10px 15px 0px;
    border: none;
    transform: skewX(-3deg);
    text-align: center;
    align-content: center;  
}

.taskbar { grid-area: taskbar; }

.clock {
    grid-area: clock;
    text-align: center;
    align-content: center;
    color: #ffffff;
    background-color: var(--colorThree);
    box-shadow: var(--colorThree) 0px -3px 1px 0px;
}

/* ---------- RESPONSIVIDADE ---------- */
@media (width > 1279px) {
    body { background-size: cover; }
    main { height: 94%; }
    footer {
        height: 6%;
        grid-template: "start taskbar clock" 100% / 10% 1fr 8%;
    }
}

@media (width < 1025px) {
    main { height: 94%; }

    footer {
        height: 6%; 
        grid-template: "start taskbar clock" 100% / 10% 1fr 8%;
    }
}

@media (width < 769px) {
    footer { grid-template: "start taskbar clock" 100% / 15% 1fr 10%; }
}

@media (width < 426px) {
    footer { grid-template: "start taskbar clock" 100% / 30% 1fr 23%; }
}

/* ---------- RESPONSIVIDADE ---------- */